<head>
	<link rel="stylesheet" href="./index.css">
</head>
<body>
	<!--
<header class="header">
	Header
</header>
<section class="content">
	<aside class="sidebar">
		<ul>
			<li><a href="#">Example</a></li>
			<li><a href="#">Example</a></li>
			<li><a href="#">Example</a></li>
			<li><a href="#">Example</a></li>
			<li><a href="#">Example</a></li>
			<li><a href="#">Example</a></li>
			<li><a href="#">Example</a></li>
			<li><a href="#">Example</a></li>
			<li><a href="#">Example</a></li>
			<li><a href="#">Example</a></li>
		</ul>
	</aside>
	<main class="main">
		<div data-ng-app="myApp" data-ng-init="quantity=3;cost=5;names=['jani','hege','kai'];names=[
{name:'Jani',country:'Norway'},
{name:'Hege',country:'Sweden'},
{name:'Kai',country:'Denmark'}]" data-ng-controller="myCtrl">
			<p>
				Name : <input type="text" data-ng-model="name">
			</p>
			<p data-ng-bind="name"></p>
			<h1>
				Hello {{name}}
			</h1>
			<p>The name is <span data-ng-bind="fname"></span></p>
			<p>My first expression: {{5+5}}</p>
			First Name: <input type="text" data-ng-model="fname"><br/>
			Last Name: <input type="text" data-ng-model="lname"><br/>
			Full Name: {{fname+" "+lname}}<br/>
			<input style="background-color:{{myCol}}" data-ng-model="myCol" value="{{myCol}}">
			<p>Total in dollars: {{ quantity * cost }}</p>
			<ul>
				<li ng-repeat="a in names">
					{{a.name + ' ' + a.country}}
				</li>
			</ul>
-->
			<!-- directive: w3-test-directive -->
<!--
<br/>
		</div>
		
		
		
		
		
		
		<button>
			<span>
				<span class="arrow arrow-left"></span>
				<span class="sr">Steer left</span>
			</span>
		</button>
		<button>
			<span>
				<span class="arrow arrow-right"></span>
				<span class="sr">Steer right</span>
			</span>
		</button>
		<div class="compass">
			<div class="arrows"></div>
		</div>
	</main>
</section>
<footer class="footer">
	Footer
</footer>
-->
<div ng-app="" ng-init="mycol='lightblue'">
	<input style="background-color:{{mycol}}" ng-model="mycol">
</divs
</body>
<script type="text/javascript" src="./index.js"></script>