* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
  --hdr-cul: #c9c;
  --mai-cul: #456;
  --asi-cul: #a1c;
  --ftr-cul: #1ee;
}
.site-wrapper {
  padding: 2rem;
  min-height: 100vh;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: min-content 1fr min-content;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
}
header {
  background-color: var(--hdr-cul);
  grid-area: header;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
}
main {
  background-color: var(--mai-cul);
  grid-area: main;
}
aside {
  background-color: var(--asi-cul);
  grid-area: aside;
}
footer {
  background-color: var(--ftr-cul);
  grid-area: footer;
  border-top: 1px solid black;
  text-align: right;
}
header, footer {
  padding: 1rem 0;
}
.logo {
  background: black;
  display: inline-block;
  width: 50px;
  height: 50px;
  color: white;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  line-height: 50px;
  font-size: 34px;
}
.site-nav {
  margin-left: auto;
  margin-right: 2rem;
}
.site-nav ul {
  margin: 0;
  list-style: none;
  display: flex;
}
.site-nav a {
  text-decoration: none;
  color: black;
}
.site-nav li + li a {
  margin-left: 0.5rem;
}
.button {
  background: black;
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}
.button + .button {
  margin-left: 0.5rem;
}
.button-green {
  background: #66BB6A;
}