* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
    background-image: url('https://www.w3schools.com/w3images/forestbridge.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
	display: flex;
	flex-direction: column;
}
header a {
	color: #fff;
	text-decoration: none;
	margin-left: 20px;
	font-size: 3em;
	font-family: raleway;
}
main {
	display: flex;
	flex-direction: column;
	flex-basis: 500px;
	justify-content: center;
	align-items: center;
}
main .label h1 {
	color: #fff;
	font-family: raleway;
	text-transform: uppercase;
	font-size: 2.5em;
}
main .label #demo {
	color: #fff;
	font-size: 2.5em;
}